In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/atlantico-academy/datasets/main/tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
df.to_csv("../data/raw/data.csv", index=False)

In [7]:
dicionario = pd.DataFrame([
    {
        "variavel" : "total_bill",
        "descricao" : "valor total da conta do cliente em dolares",
        "tipo" : "quantitativa",
        "subtipo" : "continua"
    },{
        "variavel" : "tip",
        "descricao" : "gorjeta em dolares",
        "tipo" : "quantitativa",
        "subtipo" : "continua"
    },{
        "variavel" : "sex",
        "descricao" : "sexo do cliente",
        "tipo" : "qualitativa",
        "subtipo" : "nominal"
    },{
        "variavel" : "smoker",
        "descricao" : "se o cliente fuma ou nao",
        "tipo" : "qualitativa",
        "subtipo" : "nominal"
    },{
        "variavel" : "day",
        "descricao" : "dia da semana em que o cliente apareceu",
        "tipo" : "qualitativa",
        "subtipo" : "ordinal"
    },{
        "variavel" : "time",
        "descricao" : "refeicao do dia na qual o cliente apareceu",
        "tipo" : "qualitativa",
        "subtipo" : "ordinal"
    },{
        "variavel" : "size",
        "descricao" : "tamanho da festa",
        "tipo" : "quantitativa",
        "subtipo" : "discreta"
    }
])

In [8]:
dicionario

,variavel,descricao,tipo,subtipo
0,total_bill,valor total da conta do cliente em dolares,quantitativa,continua
1,tip,gorjeta em dolares,quantitativa,continua
2,sex,sexo do cliente,qualitativa,nominal
3,smoker,se o cliente fuma ou nao,qualitativa,nominal
4,day,dia da semana em que o cliente apareceu,qualitativa,ordinal
5,time,refeicao do dia na qual o cliente apareceu,qualitativa,ordinal
6,size,tamanho da festa,quantitativa,discreta

In [9]:
dicionario.to_csv("../data/external/dictionary.csv",index=False)